{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}
<!-- {% block blogactive %} active {% endblock blogactive %} -->

{% block body %}
{% load static %}
{% load humanize %}
{% load extras %}
<div id="preloader_p">
    <div id="status">&nbsp;</div>
</div>


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Careers</li>
            </ol>
            <h2>Opportunities</h2>

        </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">

        <div class="container" data-aos="fade-up">
            <h2>Articles by Starinfosol</h2>

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="{{post.image.url}}" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/blogs">{{post.title}}</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                        href="/blogs">Article by {{post.author}}</a>
                                </li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blogs"><time
                                            datetime="2020-01-01">{{post.timeStamp}}</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blogs">{{comments.count}}
                                        Comments</a></li>
                                <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                        href="/updates">{{post.slug}}</a></li> -->
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p class="card-text mb-auto">
                                {{post.content|safe}}
                                <!-- {{post.content| truncatechars:500}} -->
                            </p>
                            <!-- <div class="read-more">
                                <a href="{{post.slug}}">Read More</a>
                            </div> -->
                        </div>



                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">{{post.slug}}</a></li>
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-comments">

                        <h4 class="comments-count">Comments ({{comments.count}})</h4>

                        <div class="reply-form">
                            <h4>Leave a Reply</h4>
                            {% if user.is_authenticated %}
                            <p>Your email address will not be published. Required fields are marked * </p>
                            <form action="/blogs/postComment" method='post'>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" id="comment" class="form-control"
                                            placeholder="Your Comment*"></textarea>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <input type="hidden" name="postSno" value="{{post.sno}}">
                                <input type="hidden" name="parentSno" value="">
                                <button type="submit" class="btn btn-primary">Post Comment</button>

                            </form>
                            {% else %}
                            Please login to post a comment...
                            {% endif %}

                        </div>
                        <div class="container">
                            <!-- <h2> Comments</h2> -->
                            {% for comment in comments %}
                            <div class="">
                                <div id="comment-2" class="comment">

                                    <div class="d-flex">
                                        <div class="comment-img"><img src="/static/assets/img/user-icon.png" alt="">
                                        </div>
                                        <div>
                                            <h5><a href="">{{comment.user.username}}</a> <a
                                                    href="#replyBox{{comment.sno}}" class="reply"><i
                                                        class=""></i></a></h5>
                                            <time datetime="2020-01-01">{{comment.timestamp| naturaltime}}</time>
                                            <p>
                                                {{comment.comment}}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="reply mx-0">
                                        {% if user.is_authenticated %}
                                        <h5><a class="reply" ><i class="bi bi-reply-fill" type="button" data-toggle="collapse"
                                            data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                                            aria-controls="replyBox{{comment.sno}}">
                                            Reply
                                        </i></a></h5>
                                        <div class="collapse" id="replyBox{{comment.sno}}">
                                            <div class="card card-body my-2">
                                                <form action="/blogs/postComment" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="comment">Post a reply </label>
                                                        <input type="text" class="form-control" name="comment"
                                                            placeholder="Enter comment here">
                                                        <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                                    </div>
                                                    <input type="hidden" name="postSno" value="{{post.sno}}">
                                                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                        {% else %}
                                        <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
                                            data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                                            aria-controls="replyBox{{comment.sno}}">
                                            Login to reply
                                        </button>
                                        {% endif %}
                                        <div class="replies my-2 ">
                                            {% for reply in replyDict|get_val:comment.sno %}
                                            <div id="comment-reply-1" class="comment comment-reply">
                                                <div class="d-flex">
                                                    <div class="comment-img"><img src="/static/assets/img/user-icon.png"
                                                            alt=""></div>
                                                    <div>
                                                        <h5><a href="">{{reply.user.username}}</a> <a href="#"
                                                                class="reply"><i class=""></i></a>
                                                        </h5>
                                                        <time
                                                            datetime="2020-01-01">{{reply.timestamp|naturaltime}}</time>
                                                        <p>
                                                            {{reply.comment}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form method="get" action="/search">
                                <input type="text" placeholder="Results" aria-label="Search" name="query" id="query">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">

                            <div class="post-item clearfix">
                                <img src="{{post.image.url}}" alt="">
                                <h4><a href="/updates">{{post.title}}</a></h4>
                                <time datetime="2020-01-01">{{post.timeStamp}}</time>
                            </div>


                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->
                        <h3 class="sidebar-title">Donate Now</h3>
                        <img src="{% static 'assets/img/Payment.png' %}" alt="" class="img-fluid">
                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>

    </section><!-- End Blog Single Section -->
</main><!-- End #main -->

{% endblock body %}