{% extends 'base.html' %}

{% block title %}Health{% endblock title %}

{% block body %}

{% load static %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Blogs</li>
            </ol>
            <h2>Updates</h2>

        </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="{% static 'assets/img/blog/blog-002.jpg' %}" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/blog-single">Yes, helpline services are operating in the present situation
                                of Coronavirus pandemic. There are many dedicated helplines that exclusively deal
                                with Covid-19 related information too. Many helplines in Jabalpur are available
                                24-hours a day.</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                        href="/blog-single">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                        href="/blog-single"><time datetime="2020-01-01">Jan 1, 2020</time></a>
                                </li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                        href="/blog-single">12 Comments</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                COVID 19 महामारी के इस लॉकडाउन समय के दौरान, हमें फोन कॉल पर कुछ चिकित्सा सलाह की
                                आवश्यकता हो सकती है। इसके लिए, हम जबलपुर स्थानीय डॉक्टरों की एक सूची साझा कर रहे हैं
                            </p>

                            <p> 1)डा दीपक बहरानी एमडी मेडिसिन 9425155500 रात्रि 8:00 से 9:00 </p>
                               <p> 2) डॉ अनिल जैन किडनी रोग विशेषज्ञ 9827239030 सुबह 9:30 से 10:00 </p>
                               <p> 3) डॉ अंकित अग्रवाल डीएम कार्डियोलॉजी 9575333311 3:00 से 4:00 </p>
                               <p> 4) डॉक्टर पुष्पराज सिंह डीएम कार्डियोलॉजी 958404074 5 से 6:00 बजे शाम </p>
                               <p> 5) डॉ दिलीप तिवारी कार्डियोलॉजिस्ट 860234444 सुबह 10:00 से 11:00 </p>
                               <p> 6) डॉ राजेश धीरावानी ओरल एंड डेंटल सर्जन 9826133255 12:00 से 1:00 </p>
                               <p> 7) डॉ अमित रिछारिया 942458883 हड्डी रोग विशेषज्ञ शाम 5:00 से 6:00 </p>
                               <p> 8) डॉ रमेश सोलकिया जनरल फिजिशियन 9301625558 दोपहर 3:00 से 4:00 </p>
                               <p> 9) डॉक्टर कुश शर्मा दंत रोग विशेषज्ञ 93026 39234 शाम 3:00 से 4:00 </p>
                               <p> 10) डॉ आशीष नेमा नेत्र रोग विशेषज्ञ 99812 16981 सुबह 10:00 से 11:00 </p>
                               <p> 11) डॉक्टर सचिन कुचिया एमडी डीएनबी मेडिसिन 98272 55744 शाम 4:00 से 5:00 </p>
                               <p> 12) डॉक्टर शोभन पौनीकर एमडी मेडिसिन 94250 20640 </p>
                               <p> 13) डॉ विजय प्रताप सिंह शिशु रोग विशेषज्ञ 94253 84310 सुबह 12:00 से 1:00 </p>
                               <p> 14) डॉक्टर आशीष राव दंत रोग विशेषज्ञ 94249 34655 दोपहर 12:00 से 1:00 </p>
                               <p> 15) डॉ अरविंद सोनी फिजियोथेरेपिस्ट 83196 42342 दोपहर 1:00 से 2:00 </p>
                               <p> 16) डॉ ऋषि यादव BAMS 75662 56456 शाम 5:00 से 6:00 </p>
                               <p> 17) डॉक्टर निलेश गुप्ता होम्योपैथिक चिकित्सक 79 9906 3363 दोपहर 2:00 से 3:00 </p>
                               <p> 18) डा अजय सराफ शिशु रोग विशेषज्ञ 94251 59205 शाम 3:30 से 5:30 </p>
                               <p> 19) डॉक्टर राजीव सावंत हड्डी रोग विशेषज्ञ 94254 11704 शाम 7:00 से 8:00 </p>
                               <p> 20) डॉ जतिन धीरावानी रोग हड्डी विशेषज्ञ 94251 53059 दोपहर 2:00 से 3:00 </p>
                               <p> 21) डॉक्टर नितिन अडगांवकर कान नाक गला विशेषज्ञ 98270 66938 </p>
                               <p> 22) डॉक्टर ऋषि डावर छाती एवं दमा रोग विशेषज्ञ 99 81 69117 शाम 6:00 से 6:30 व्हाट्सएप </p>
                               <p> 23) डॉक्टर जन्मेजय जामदार एमसीएच न्यूरोलॉजी 8770111315 दोपहर 12:00 से 1:00 </p>
                               <p> 24) शिरीष जामदार स्त्री एवं प्रसूति रोग विशेषज्ञ 9261 42083 12:00 से 1:00 </p>
                               <p> 25) डॉक्टर रिचा धीराबानी स्त्री एवं प्रसूति रोग विशेषज्ञ 7354 77 7754 दोपहर 12:00 से 1:00 </p>
                               <p> 26) डॉक्टर कृति नेमा नेत्र रोग विशेषज्ञ 7878 818479 दोपहर 3:00 से 4:00 </p>
                               <p> 27) डॉक्टर अर्पिता स्थापक 90968 64865 दोपहर 12:00 से 3:00 </p>
                               <p> 28) डॉक्टर सारंग पंडित मनोचिकित्सक 98270 67545 रात्रि 8:30 से 9:00 </p>
                               <p> 29) डॉक्टर चैतन्य ओक एमबीबीएस 9261 16693 दोपहर 2:00 से 3:0 </p>
                               <p> 30) डॉक्टर अग्रवाल चर्म रोग विशेषज्ञ 999 3999 6662 दोपहर 3:00 से 4:00 </p>
                               <p> 31) डॉक्टर आदित्य कुमार सोनी एमडी 8 83973 90122 पर 12 से 4 </p>
                               <p> 32) डॉक्टर अमिता सक्सेना स्त्री एवं प्रसूति रोग विशेषज्ञ 9300 10 8912 दोपहर 3:00 से 4:00 </p>
                               <p> 33) डॉक्टर अभिषेक श्रीवास्तव डायबिटोलॉजिस्ट 87180 35040 दोपहर 3:00 से 4:00 </p>
                               <p> 34) डॉक्टर शैलेश दीवान आयुर्वेदिक चिकित्सक 94258 98645 सुबह 10:00 से 12:00 </p>
                               <p> 35) डॉ अमित सोलकिया बीएचएमएस एमडी 748 9999 108 दोपहर 3:00 से 4:00 </p>
                               <p> 36) रितु श्रीवास्तव स्त्री एवं प्रसूति रोग विशेषज्ञ 94258 07220 </p>
                               <p> 37)डॉक्टर अमल कांति सेन कार्डियोलॉजिस्ट 98 49 338476 शाम 3:00 से 4:0 </p>
                               <p> 38) डॉक्टर शुभम जैन आयुर्वेदिक चिकित्सक </p>
                               <p> 39) डॉ अजय बाथरे जनरल फिजीशियन 9893 87747 दोपहर 2:00 से 3:00 </p>
                               <p> 40) डॉक्टर अखिलेश गुमास्ता हड्डी रोग विशेषज्ञ 94251 68684 दोपहर 3:00 से 4:00 </p>
                               <p> 41) डॉ पवन स्थापक नेत्र रोग विशेषज्ञ 98269 50101 दोपहर 3:00 से 4:00 </p>
                               <p> 42) डॉ रुपेश रजक होम्योपैथिक चिकित्सक दोपहर 3:00 से 4:00 </p>
                               <p> 43) डॉ नीरज राय 9039373349 शाम 6:00 से 8:00 </p>
                               <p> 43) डॉक्टर राजेश मिश्रा जनरल फिजिशियन 971 36 75859 </p>
                               <p> 44) डॉक्टर उत्तम लोधी आयुर्वेद चिकित्सक 977 074 2509 शाम को 4:00 से 5:00 </p>
                               <p> 45)डॉक्टर मुकेश पांडे आयुर्वेद चिकित्सक 98270 93 208 दोपहर 2:00 से 3:00 </p>
                               <p> 46) डॉक्टर रंजना मिश्रा काउंसलर 990 78 28 511 7:00 से 8:00 </p>
                               <p> 47) डॉक्टर रितु पटेल दंत चिकित्सक 88 399 66282 शाम 4:0 से 5:00 </p>
                               <p> 48) डॉक्टर सरिता साहू स्त्री रोग विशेषज्ञ 930 33 84159 शाम 7:00 से 9:00 </p>
                               <p> 49) डॉक्टर साकेत अग्रवाल दंत चिकित्सक 98265 22888 शाम 4:00 से 6:00 </p>
                               <p> 50) डॉ पंकज मिश्रा आयुर्वेद चिकित्सक 99262 08507 </p>
                               <p> 51) डॉक्टर राजेश सारस्वत आयुर्वेद चिकित्सक 990 70 82270 </p>
                               <p> 52) डॉक्टर राजकुमार अग्रवाल आयुर्वेद चिकित्सक 831 961 7489 </p>
                               <p> 53) डॉक्टर लोकपाल लोधी आयुर्वेद चिकित्सक 7869 04 1848 </p>
                               <p> 54) डॉक्टर रितेश पटेरिया आयुर्वेद चिकित्सक 90 74 96 3176 </p>
                               <p> 55) डॉक्टर अमितेश चतुर्वेदी हड्डी रोग विशेषज्ञ 94243 05700 </p>
                               <p> 56) डॉक्टर कमलेश गुप्ता आयुर्वेद चिकित्सक 999 34 08 558 </p>
                               <p> 57) डॉक्टर अजय फौजदार फिजियोथैरेपिस्ट 98262 20584 </p>
                               <p> 58) डॉ शिवेंद्र पटेल होम्योपैथिक चिकित्सक 8357 002797 </p>
                               <p> 59) डॉक्टर राम मिश्रा होम्योपैथिक चिकित्सक 7987 0 13379 </p>
                               <p> 60) डॉक्टर अमिता चतुर्वेदी एमडी पैथोलॉजी 91 111 48 11 </p>

                            <blockquote>
                                <p>
                                    “The best way to get started is to quit talking and begin doing.”
                                </p>
                            </blockquote>

                            

                            <h3>Covid Helpline number</h3>
                            <p>
                                Helpline Number: +91-11-23978046 <br>   
                                Toll Free: 1075 <br>    
                                M.P. COVID 19 HELPLINE : 104 , 1075 , 0755-2704201, 

2441419, 4926892
                            </p>
                            <img src="{% static 'assets/img/blog/blog-inside-post1.jpg' %}" class="img-fluid" alt="">

                            <h3>About COVID-19</h3>
                            <p>
                                Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
                                Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.
                            </p>
                            <p>
                                The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
                            </p>

                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">Business</a></li>
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-author d-flex align-items-center">
                        <img src="{% static 'assets/img/blog/blog-author44.jpg' %}" class="rounded-circle float-left" alt="">
                        <div>
                            <h4>Shubham Verma</h4>
                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                                <a href="https://wa.me/message/H72CPSV3OZMAE1"><i class="biu bi-whatsapp"></i></a>
                            </div>
                            <p>
                                To improve your strength and grow up your personality. Self-motivated and hardworking with positive
              attitude towards career and life.
                            </p>
                        </div>
                    </div><!-- End blog author bio -->

                    <div class="blog-comments">

                        <h4 class="comments-count">8 Comments</h4>

                        <div id="comment-1" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="{% static 'assets/img/blog/comments-1.jpg' %}" alt=""></div>
                                <div>
                                    <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i
                                                class="bi bi-reply-fill"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad
                                        aut sapiente quis molestiae est qui cum soluta.
                                        Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis
                                        et.
                                    </p>
                                </div>
                            </div>
                        </div><!-- End comment #1 -->

                        <div id="comment-2" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="{% static 'assets/img/blog/comments-2.jpg' %}" alt=""></div>
                                <div>
                                    <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i
                                                class="bi bi-reply-fill"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet
                                        saepe. Officiis illo ut beatae.
                                    </p>
                                </div>
                            </div>

                            <div id="comment-reply-1" class="comment comment-reply">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="{% static 'assets/img/blog/comments-3.jpg' %}" alt=""></div>
                                    <div>
                                        <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i
                                                    class="bi bi-reply-fill"></i> Reply</a></h5>
                                        <time datetime="2020-01-01">01 Jan, 2020</time>
                                        <p>
                                            Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam
                                            aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed
                                            necessitatibus aut est. Eum officiis sed repellat maxime vero nisi
                                            natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                                            Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in
                                            porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi.
                                            Pariatur distinctio labore omnis incidunt et illum. Expedita et
                                            dignissimos distinctio laborum minima fugiat.

                                            Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis
                                            error dolorum non autem quisquam vero rerum neque.
                                        </p>
                                    </div>
                                </div>

                                <div id="comment-reply-2" class="comment comment-reply">
                                    <div class="d-flex">
                                        <div class="comment-img"><img src="{% static 'assets/img/blog/comments-4.jpg' %}" alt="">
                                        </div>
                                        <div>
                                            <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i
                                                        class="bi bi-reply-fill"></i> Reply</a></h5>
                                            <time datetime="2020-01-01">01 Jan, 2020</time>
                                            <p>
                                                Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia
                                                dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam.
                                                Placeat porro est commodi est officiis voluptas repellat quisquam
                                                possimus. Perferendis id consectetur necessitatibus.
                                            </p>
                                        </div>
                                    </div>

                                </div><!-- End comment reply #2-->

                            </div><!-- End comment reply #1-->

                        </div><!-- End comment #2-->

                        <div id="comment-3" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="{% static 'assets/img/blog/comments-5.jpg' %}" alt=""></div>
                                <div>
                                    <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i
                                                class="bi bi-reply-fill"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus
                                        quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem
                                        aspernatur aut quam ut. Voluptatem est accusamus iste at.
                                        Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea
                                        est consequuntur officia beatae ea aut eos soluta. Non qui dolorum
                                        voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                                    </p>
                                </div>
                            </div>

                        </div><!-- End comment #3 -->

                        <div id="comment-4" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="{% static 'assets/img/blog/comments-6.jpg' %}" alt=""></div>
                                <div>
                                    <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i
                                                class="bi bi-reply-fill"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit
                                        tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in
                                        fugiat.
                                    </p>
                                </div>
                            </div>

                        </div><!-- End comment #4 -->

                        <div class="reply-form">
                            <h4>Leave a Reply</h4>
                            <p>Your email address will not be published. Required fields are marked * </p>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input name="name" type="text" class="form-control"
                                            placeholder="Your Name*">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="email" type="text" class="form-control"
                                            placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input name="website" type="text" class="form-control"
                                            placeholder="Your Website">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" class="form-control"
                                            placeholder="Your Comment*"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Post Comment</button>

                            </form>

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="{% static 'assets/img/blog/blog-recent-1.jpg' %}" alt="">
                                <h4><a href="/blog-single">Nihil blanditiis at in nihil autem</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="{% static 'assets/img/blog/blog-recent-2.jpg' %}" alt="">
                                <h4><a href="/blog-single">Quidem autem et impedit</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="{% static 'assets/img/blog/blog-recent-3.jpg' %}" alt="">
                                <h4><a href="/blog-single">Id quia et et ut maxime similique occaecati ut</a>
                                </h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="{% static 'assets/img/blog/blog-recent-4.jpg' %}" alt="">
                                <h4><a href="/blog-single">Laborum corporis quo dara net para</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="{% static 'assets/img/blog/blog-recent-5.jpg' %}" alt="">
                                <h4><a href="/blog-single">Et dolores corrupti quae illo quod dolor</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->
</main><!-- End #main -->

{% endblock body %}