{% extends 'base.html' %}

{% block title %}Blogs{% endblock title %}
{% block blogactive %} active {% endblock blogactive %} 

{% block body %}

{% load static %}








<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Blogs</li>
      </ol>
      <h2>Updates</h2>

    </div>
  </section><!-- End Breadcrumbs -->

<!-- 
  <div class="container my-3">
    <h2>Articles by Starinfosol</h2>
    {% for post in allPosts %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">{{post.datetime}}</div>
        <p class="card-text mb-auto">{{post.content| truncatechars:500}}</p>
        <div class="my-2">
          <a href="/blogs/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
  
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
      </div>
    </div>
  
    {% endfor %}
  </div> -->



  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">



          <article class="entry">

            <div class="entry-img">
              <img src="{% static 'assets/img/blog/blog-002.jpg' %}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="/blog-single">Covid-19 Helpline Numbers :</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blog-single">John Doe</a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blog-single"><time
                      datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blog-single">12
                    Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Yes, helpline services are operating in the present situation of Coronavirus pandemic. There are many
                dedicated helplines that exclusively deal with Covid-19 related information too. Many helplines in
                Jabalpur are available 24-hours a day.
              </p>
              <div class="read-more">
                <a href="/blog-single">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->



          <article class="entry">

            <div class="entry-img">
              <img src="{% static 'assets/img/blog/blog-c2.jpg' %}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="/blog-education">Boosting your immunity has become necessary in this time. There are several new
                diseases which are emerging these days. Here are some ways which are effective in boosting your immune
                system.</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blog-education">John
                    Doe</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blog-education"><time
                      datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blog-education">12
                    Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                1. Start your day with a healthy diet involving fruits, juices, milk etc.
                2. Proper exercise is necessary every day.
              </p>
              <div class="read-more">
                <a href="/blog-education">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <article class="entry">

            <div class="entry-img">
              <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="/blog-single">Nisi magni odit consequatur autem nulla dolorem</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blog-single">John Doe</a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blog-single"><time
                      datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blog-single">12
                    Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo
                libero rerum voluptatem pariatur nam.
                Ad impedit qui officiis est in non aliquid veniam laborum. Id ipsum qui aut. Sit aliquam et quia
                molestias laboriosam. Tempora nam odit omnis eum corrupti qui aliquid excepturi molestiae. Facilis et
                sint quos sed voluptas. Maxime sed tempore enim omnis non alias odio quos distinctio.
              </p>
              <div class="read-more">
                <a href="/blog-single">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <article class="entry">

            <div class="entry-img">
              <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="/blog-single">Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero sit sint.</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blog-single">John Doe</a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blog-single"><time
                      datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blog-single">12
                    Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Aut iste neque ut illum qui perspiciatis similique recusandae non. Fugit autem dolorem labore omnis et.
                Eum temporibus fugiat voluptate enim tenetur sunt omnis.
                Doloremque est saepe laborum aut. Ipsa cupiditate ex harum at recusandae nesciunt. Ut dolores velit.
              </p>
              <div class="read-more">
                <a href="/blog-single">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <article class="entry">

            <div class="entry-img">
              <img src="{% static 'assets/img/blog/blog-4.jpg' %}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="/blog-single">Non rem rerum nam cum quo minus. Dolor distinctio deleniti explicabo eius
                exercitationem.</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blog-single">John Doe</a>
                </li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blog-single"><time
                      datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blog-single">12
                    Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum
                enim et autem. Saepe atque cum eligendi eaque iste omnis a qui.
                Quia sed sunt. Ea asperiores expedita et et delectus voluptates rerum. Id saepe ut itaque quod qui
                voluptas nobis porro rerum. Quam quia nesciunt qui aut est non omnis. Inventore occaecati et quaerat
                magni itaque nam voluptas. Voluptatem ducimus sint id earum ut nesciunt sed corrupti nemo.
              </p>
              <div class="read-more">
                <a href="/blog-single">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->

          <div class="blog-pagination">
            <ul class="justify-content-center">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar">

            <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i class="bi bi-search"></i></button>
              </form>
            </div><!-- End sidebar search formn-->

            <h3 class="sidebar-title">Categories</h3>
            <div class="sidebar-item categories">
              <ul>
                <li><a href="#">General <span>(25)</span></a></li>
                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                <li><a href="#">Travel <span>(5)</span></a></li>
                <li><a href="#">Design <span>(22)</span></a></li>
                <li><a href="#">Creative <span>(8)</span></a></li>
                <li><a href="#">Educaion <span>(14)</span></a></li>
              </ul>
            </div><!-- End sidebar categories-->

            <h3 class="sidebar-title">Recent Posts</h3>
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                <img src="{% static 'assets/img/blog/blog-recent-1.jpg' %}" alt="">
                <h4><a href="/blog-single">Nihil blanditiis at in nihil autem</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>

              <div class="post-item clearfix">
                <img src="{% static 'assets/img/blog/blog-recent-2.jpg' %}" alt="">
                <h4><a href="/blog-single">Quidem autem et impedit</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>

              <div class="post-item clearfix">
                <img src="{% static 'assets/img/blog/blog-recent-3.jpg' %}" alt="">
                <h4><a href="/blog-single">Id quia et et ut maxime similique occaecati ut</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>

              <div class="post-item clearfix">
                <img src="{% static 'assets/img/blog/blog-recent-4.jpg' %}" alt="">
                <h4><a href="/blog-single">Laborum corporis quo dara net para</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>

              <div class="post-item clearfix">
                <img src="{% static 'assets/img/blog/blog-recent-5.jpg' %}" alt="">
                <h4><a href="/blog-single">Et dolores corrupti quae illo quod dolor</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>

            </div><!-- End sidebar recent posts-->

            <h3 class="sidebar-title">Tags</h3>
            <div class="sidebar-item tags">
              <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Smart</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div><!-- End sidebar tags-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock body %}