{% extends 'base.html' %}

{% block title %}Management{% endblock title %}

{% block body %}
{% load static %}
<div id="preloader_p">
    <div id="status">&nbsp;</div>
</div>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <!-- <section id="breadcrumbs" class="breadcrumbs">

    </section> -->
    <!-- End Breadcrumbs -->


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">

        <div class="container" data-aos="fade-up">

            <!-- ########################################################################################### -->

            <br>
            <br>
            <br>
            <section id="overviewBG" class="container">
                <div class="overview">
                    <h2><strong>Overview</strong></h2>
                    <br>
                </div>
                <div>
                    <p>
                        Business management is the discipline of coordinating all
                        phases of farm operation through planning. Business management is
                        concerned with income, and so is concerned with profitability. Consideration
                        of alternative uses of the basic resources means
                        various productive processes must be budgeted and compared.

                    </p>
                    <!-- <h4 style="color: rgb(12, 2, 151);" href="#">Apply</h4> -->
                </div>
            </section>
            <section id="analysisBG" class="container">
                <div style="color: blue;">
                    <h2>Business Analysis</h2>
                    <br>
                </div>
                <p>
                    Business analysis is used to identify and articulate the need
                    for change in how organizations work, and to facilitate that change.
                    It is a disciplined approach for introducing and managing change to organizations,
                    whether they are for-profit businesses, governments, or non-profits.
                    Business analysts work with organisations to help them improve their processes and systems.
                    They conduct research and analysis in order to come up
                    with solutions to business problems and help to introduce these systems
                    to businesses and their clients.
                </p>
            </section>
            <section id="managementBG" class="container">
                <div style="color: rgb(62, 204, 6);">
                    <h2>Management</h2>
                    <br>
                </div>
                <p>
                    Business analysis is used to identify and articulate the need
                    for change in how organizations work, and to facilitate that change.
                    It is a disciplined approach for introducing and managing change to organizations,
                    whether they are for-profit businesses, governments, or non-profits.
                    Business analysts work with organisations to help them improve their processes and systems.
                    They conduct research and analysis in order to come up
                    with solutions to business problems and help to introduce these systems
                    to businesses and their clients.
                </p>
                <br>
                <h3>Strategic Management</h3>
                <p>
                    Strategic management is the ongoing planning, monitoring,
                     analysis and assessment of all necessities an organization
                      needs to meet its goals and objectives. Changes in business environments will require
                     organizations to constantly assess their strategies for success.
                </p>
                <h3>Evolution of Management skills through Presentation</h3>
                <p>
                    Strategic management is the ongoing planning, monitoring,
                     analysis and assessment of all necessities an organization
                      needs to meet its goals and objectives. Changes in business environments will require
                     organizations to constantly assess their strategies for success.
                </p>
            </section>
            <section id="hrBG" class="container">
                <div style="color: rgb(221, 243, 26);">
                    <h2>HR</h2>
                    <br>
                </div>
                <p>
                    Business analysis is used to identify and articulate the need
                    for change in how organizations work, and to facilitate that change.
                    It is a disciplined approach for introducing and managing change to organizations,
                    whether they are for-profit businesses, governments, or non-profits.
                    Business analysts work with organisations to help them improve their processes and systems.
                    They conduct research and analysis in order to come up
                    with solutions to business problems and help to introduce these systems
                    to businesses and their clients.
                </p>
                <h3>Human Resources Mangement</h3>
                <p>
                    Strategic management is the ongoing planning, monitoring,
                     analysis and assessment of all necessities an organization
                      needs to meet its goals and objectives. Changes in business environments will require
                     organizations to constantly assess their strategies for success.
                </p>
                <h3>Total Quality of Management</h3>
                <p>
                    Strategic management is the ongoing planning, monitoring,
                     analysis and assessment of all necessities an organization
                      needs to meet its goals and objectives. Changes in business environments will require
                     organizations to constantly assess their strategies for success.
                </p>
                <h3>Strategic Human Resource Management</h3>
                <p>
                    Strategic management is the ongoing planning, monitoring,
                     analysis and assessment of all necessities an organization
                      needs to meet its goals and objectives. Changes in business environments will require
                     organizations to constantly assess their strategies for success.
                </p>
            </section>
            <section id="riskBG" class="container">
                <div style="color: rgb(26, 243, 225);">
                    <h2>Risk Management & Insurance</h2>
                    <br>
                </div>
                <p>
                    Business analysis is used to identify and articulate the need
                    for change in how organizations work, and to facilitate that change.
                    It is a disciplined approach for introducing and managing change to organizations,
                    whether they are for-profit businesses, governments, or non-profits.
                    Business analysts work with organisations to help them improve their processes and systems.
                    They conduct research and analysis in order to come up
                    with solutions to business problems and help to introduce these systems
                    to businesses and their clients.
                </p>
            </section>
            <section id="portfolioBG" class="container">
                <div style="color: rgb(252, 5, 5);">
                    <h2>Investment Analysis & Portfolio Management</h2>
                    <br>
                </div>
                <p>
                    Business analysis is used to identify and articulate the need
                    for change in how organizations work, and to facilitate that change.
                    It is a disciplined approach for introducing and managing change to organizations,
                    whether they are for-profit businesses, governments, or non-profits.
                    Business analysts work with organisations to help them improve their processes and systems.
                    They conduct research and analysis in order to come up
                    with solutions to business problems and help to introduce these systems
                    to businesses and their clients.
                </p>
            </section>
            <section id="projectBG" class="container">
                <div style="color: rgb(243, 26, 178);">
                    <h2>Project Management</h2>
                    <br>
                </div>
                <p>
                    Business analysis is used to identify and articulate the need
                    for change in how organizations work, and to facilitate that change.
                    It is a disciplined approach for introducing and managing change to organizations,
                    whether they are for-profit businesses, governments, or non-profits.
                    Business analysts work with organisations to help them improve their processes and systems.
                    They conduct research and analysis in order to come up
                    with solutions to business problems and help to introduce these systems
                    to businesses and their clients.
                </p>
            </section>




            <!-- ########################################################################################### -->

        </div>

    </section><!-- End Blog Single Section -->
</main><!-- End #main -->

{% endblock body %}