{% extends 'base.html' %}

{% block title %}Physiotherapy{% endblock title %}

{% block body %}
{% load static %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Physiotherapy</li>
            </ol>
            <h2>Updates</h2>

        </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">

        <div class="container" data-aos="fade-up">
            <!-- <h2>Articles by Starinfosol</h2> -->

            <div class="row">

                <div class="col-lg-8 entries">

                    <!-- ########################################################################################### -->


                    <h2 style="color: rgb(22, 140, 209);">Physiotherapy -</h2>
                    <blockquote class="blockquote">
                        <p>Different poses and exercises for solution of different related problems.
                    </blockquote>


                    <!-- ########################################################################################### -->


                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form method="get" action="/search">
                                <input type="text" placeholder="Results" aria-label="Search" name="query" id="query">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            {% for post in allPosts %}
                            <div class="post-item clearfix">
                                <img src="{{post.image.url}}" alt="">
                                <h4><a href="/updates">{{post.title}}</a></h4>
                                <time datetime="2020-01-01">{{post.timeStamp}}</time>
                            </div>
                            {% endfor %}

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->
                        <h3 class="sidebar-title">Donate Now</h3>
                        <img src="{% static 'assets/img/Payment.png' %}" alt="" class="img-fluid">
                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>

    </section><!-- End Blog Single Section -->
</main><!-- End #main -->

{% endblock body %}