{% extends 'base.html' %}

{% block title %}Physiotherapy{% endblock title %}

{% block body %}
{% load static %}
<div id="preloader_p">
    <div id="status">&nbsp;</div>
</div>

<main id="main">


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">

        <div class="container" data-aos="fade-up">
            <br>
            <br>
            <br>
            <br>
            <!-- ########################################################################################### -->
            <div id="welcomeheading">Welcome to Starinfosol</div>



            <section id="cab">
                <div id="therapy" class="container">
                    <h2 data-aos="flip-left">Overview</h2>
                    <p>Physical therapy is provided as a primary care treatment or alongside,
                        or in conjunction with, other
                        medical services such as antiquity treatment. </p>
                    <hr>

                </div>
            </section>
            <div>
                <h2 style="color: rgb(112, 60, 60);">Basic Home Treatment</h2>
                <hr>
                <ul>
                    <li>
                        <h3>Relief Backpain(Self Treatment)</h3>
                    </li>
                    <h4>Excercise(Therapy) -</h4>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </ul>
            </div>
            <!-- <div id="welcomeLogo">
                <p><strong>Starinfosol</strong></p>
            </div> -->
            <br>

            <div id="mrWelcome">
                <div id="mrWelcome_p">Welcome</div>
                <div id="mrWelcome_q">
                    <span id="mrWelcome_span">to Starinfosol.</span>
                </div>
            </div>



            <!-- Google Chrome -->
            <!-- <div class="infinityChrome">
                <div></div>
                <div></div>
                <div></div>
            </div> -->

            <!-- Safari and others -->
            <!-- <div class="infinity">
                <div>
                    <span></span>
                </div>
                <div>
                    <span></span>
                </div>
                <div>
                    <span></span>
                </div>
            </div> -->

            <!-- Stuff -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none;">
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                            result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                    </filter>
                </defs>
            </svg> -->

            <!-- dribbble -->
            <!-- <a class="dribbble" href="https://dribbble.com/shots/5557955-Infinity-Loader" target="_blank"><img
                    src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg"
                    alt=""></a> -->

            <!-- ########################################################################################### -->


        </div>

    </section>
    <!-- End Blog Single Section -->
</main>
<!-- End #main -->


{% endblock body %}