
{% extends 'base.html' %}

{% block title %}Terms & Conditions{% endblock title %}

{% block body %}

{% load static %}
<div id="preloader_p">
  <div id="status">&nbsp;</div>
</div>

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Services</li>
        </ol>
        <h2>Terms & Conditions</h2>

      </div>


    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-content">
                <p>
                  Terms & Conditions
                </p>
                <p>• 1.General</p>
                <p>• A warranty of 7 days is applicable on all services delivered, for all bookings
                  2made through Starinfosol contact number or Starinfosol website.</p>
                <p>• Minimum visiting charges will be applicable if no work is done after the visit
                  has been made by the technician. In case the service amount is less than
                  charge, same will be charged -
                  o if the service amount is more than the visiting charges, no visiting
                  charges will be added.</p>
                <p>• Booking/Case – effected via the registration with the website for availing /
                  booking of the technician / repair professional for availing the services.
                  Bookings can be made for single services or split/multiple repair services.</p>
                <p>• 2. Services</p>
                <p>• a) The Company provides technology-based services for providing home
                  solutions in Delhi / NCR (National Capital Region) such as repairing /
                  services of home products to you and you agree to obtain the services
                  offered by third party technicians / Service Providers / Private Repair
                  Professionals ("the Service Provider"). All the Services provided by the
                  Company to you by means of your use of the registration on website of the
                  Company are hereinafter referred to as the "Service."</p>
                <p>• b) The entire Booking request as may be directed by the customer shall be
                  forward to the concerned repair professional/service provider by the
                  Company. The Service Provider shall be provided on availability basis and
                  the same shall be communicated to the customer through the company
                  internal mechanism procedure, however, it is clarified that on availability of
                  the Service Provider, the communication details of Service Provider &
                  Customer shall be shared between both of them by the Company for the
                  ease of both the parties to perform or exercise their rights & obligations.</p>
                <p>• c) In case, the Service Provider accepts the booking request made by you
                  with the Company, your information is sent to the Service provider including
                  your name, contact number etc.</p>
                <p>• d) Company shall endeavor reasonable efforts to bring you in contact with
                  the Service Provider in order to render the required service subject to
                  availability of the Service Provider in or around your location at the time of
                  your booking request made to the Company.</p>
                <p>• e) You hereby certify and confirm that the relevant information you provide
                  to the Company while registering your request or creation of account is
                  accurate and complete in all respect as may be demanded by the Company
                  in the application form. The Company is entitled to an all-time verify the
                  information that you have provided. The Company shall not be liable if you
                  do not visit the appropriate web portal or dial-in the correct call center
                  number. The Company reserves the right to discontinue or introduce any of
                  the modes of booking Service Provider.</p>
                <p>• f) You will treat Service provider introduced to you through us with respect
                  and not to cause damage to them or engage in any unlawful, threatening,
                  harassing, abusive behavior or activity whilst using their service;</p>
                <p>• g) Before handing over the products to be repaired the customer shall be
                  cautious and ensure themselves about the credibility of the Service
                  Provider and any defect in Service or theft/ damage to the asset; spare
                  parts; accessories; products shall not be compensated by the Company in
                  any manner whatsoever and it is clarified that that Company shall not be
                  liable in any manner whatsoever, if any such harm/damage/ loss is caused
                  to the Service Provider due to any such transfer or products to the Service
                  provider for Service.</p>
                <p>• h) You should confirm & clarify from the service provider about the time
                  involved and the spare parts required to render the service including the
                  total/aggregate service charges involved therein except the minimum cost
                  before initiation of the Service. In case the same is not discussed, it is
                  implied that the customer is aware of the service charges and has
                  consented to avail the services as may be informed or directed by the
                  service provider.</p>
                <p>• i) You will compensate and defend the company fully against any claims or
                  legal proceedings brought against us by any other person as a result of
                  your breach of these Terms.</p>
                <p>• j) Please note that we are not responsible for the behavior, actions or
                  inactions, accuracy, efficiency of Service Provider, quality of Service which
                  you may use (through us or otherwise). Any Contract for the provision of
                  services is exclusively between you and the Service provider and not us in
                  any manner whatsoever and we simply provide a platform to introduce
                  Service provider and Customer seeking the said service.</p>
                <p>• 3. Charges and Payment</p>
                <p>• You will make payment in full to Service provider introduced to you through
                  us for any services provided by such Service provider to you. You shall be
                  required to pay the minimum charges & Repair charges along with the
                  spare parts costs, if any installed or replaced / substituted in the products,
                  to the Service Provider and the minimum service charges rates can be
                  found on the Website of the Company. The Service charges shall be
                  updated or amended from time to time and it shall be your responsibility to
                  remain informed about the prevailing minimum charges for the services.
                  And you should confirm the same from the Service provider about the
                  service charge for the repair of the products before initiation of the Service.
                  You agree that you will pay for all services you avail from the Service
                  Provider either by way of cash, cheque, online payment, or any other
                  payment method introduced by the company. Any payment made is nonrefundable. After the completion of
                  the Service, we will facilitate for you to
                  receive a copy of the acknowledgement from the Service Provider on your
                  registered e-mail account with the Company.</p>
                <p>• 4. Liability</p>
                <p>• 1. The information, recommendations provided to you on or through the
                  Website is for general information purposes only and does not constitute
                  any advice. The Company will reasonably keep the Website and its
                  contents correct and up to date but does not guarantee that (the contents
                  of) the Website are free of errors, defects, malware and viruses or that the
                  Website are correct, up to date and accurate in all means.</p>
                <p>• 2. The Company shall further not be liable for damages resulting from the
                  use of (or the inability to use) electronic means of communication with the
                  Website, including – but not limited to – damages resulting from failure or
                  delay in delivery of electronic communications, interception or manipulation
                  of electronic communications by third parties or by computer programs
                  used for electronic communications and transmission of viruses.</p>
                <p>• 3. Without prejudice to the foregoing, and insofar as allowed under
                  mandatory applicable law, the Company's aggregate liability shall in no
                  event exceed an amount of INR 1000.</p>
                <p>• 4. The quality of the services requested through the use of the Application
                  or the Service is entirely the responsibility of the Service Provider who
                  ultimately provides such services to you. The Company under no
                  circumstance accepts liability in connection with and/or arising from the
                  services provided by the Service Provider or any acts, action, behavior,
                  conduct, and/or negligence on the part of the Service Provider. Any
                  complaints about the services provided by the Service Provider should
                  therefore be submitted to the Service Provider.</p>
                <p>• 5. Modification of the Service and User Terms</p>
                <p>• The Company reserves the right, at its sole discretion, to modify or replace
                  any of these User Terms, or change, suspend, or discontinue the
                  Application (including without limitation, the availability of any feature,
                  database, or content) at any time by posting a notice on the Website or by
                  sending you notice through the Service, Application or via email. The
                  Company may also impose limits on certain features and services or
                  restrict your access to parts or all of the Service without notice or liability.</p>
                <p>• 6. Notice</p>
                <p>• The Company may give notice by means of a general notice on the Service
                  or Application, or by electronic mail to your email address on record in the
                  Company's account information, or by written communication sent by
                  regular mail to your address on record in Company's account information.</p>
                <p>• 7. Privacy and Cookie Notice</p>
                <p>• The Company collects and processes the personal data of the visitors/
                  registered customers of the Website and the promotional offers may be
                  send by the Company on time to time basis unless the same is denied by
                  them by informing to the Company.</p>
                <p>• 8. Excusable Delays (Force Majeure)</p>
                <p>• Neither party hereto shall be responsible for delays or failures in
                  performance resulting from acts beyond its reasonable control and without
                  its fault or negligence. Such excusable delays or failures may be caused
                  by, among other things, strikes, lock-out, riots, rebellions, accidental
                  explosions, floods, storms, acts of God and similar occurrences.</p>
                <p>• 9. Starinfosol company has own privacy policy and terms and conditions, in
                  case of any Judicial circumstances company has full right to take fair
                  judgement. </p>
              </div>

          </div>

        </div>
    </section><!-- End Blog Single Section -->
  </main><!-- End #main -->


{% endblock body %}

