<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/Starinfosol/static/assets/my_css/style_main.css" rel="stylesheet">
    <link href="/Starinfosol/static/assets/my_css/style.css" rel="stylesheet">
    <link href="/Starinfosol/static/assets/my_css/style_source.css" rel="stylesheet">
    <link href="/Starinfosol/static/assets/my_css/style_manual.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center" style="
    padding-left: 2px;
    padding-right: 2px;">

            <a href="/" class="logo me-auto"><img src="static/assets/img/stara.png" alt=""></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto " href="#hero">Home</a></li>
                    <li class="dropdown"><a href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a class="nav-link scrollto" href="#about">About</a></li>
                            <li><a class="nav-link scrollto" href="#doctors">Team</a></li>
                            <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
                            <li><a href="#departments">Departments</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="/careers">Careers</a></li>
                            <li><a href="/Pricing">Pricing</a></li>
                            <li><a href="#faq">FAQ</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#"><span>Technology</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Technical">Technical</a></li>
                            <li><a href="/Management">Business Management</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Health</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Doctors">Doctors</a></li>
                            <li><a href="/Medicine">Medicine</a></li>
                            <li><a href="/physiotherapy">physiotherapy</a></li>
                            <li><a href="/pathology">pathology</a></li>
                        </ul>
                    </li>


                    <li><a href="/Education">Education</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

            <a href="#appointmentModal" class="appointment-btn scrollto" type="button" data-toggle="modal"><span
                    class="d-none d-md-inline">Make an</span>
                Appointment</a>
            
    </header>
    <!-- End Header -->


    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to TextUtils!</strong> You can do anything with your text here!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="container">
        <web-particles id="tsparticles"
                options='{"fps_limit":60,"interactivity":{"detectsOn":"canvas","events":{"onClick":{"enable":true,"mode":"push"},"onHover":{"enable":true,"mode":"repulse"},"resize":true},"modes":{"push":{"particles_nb":4},"repulse":{"distance":200,"duration":0.4}}},"particles":{"color":{"value":"#ffffff"},"links":{"color":"#ffffff","distance":150,"enable":true,"opacity":0.4,"width":1},"move":{"bounce":false,"direction":"none","enable":true,"outMode":"out","random":false,"speed":2,"straight":false},"number":{"density":{"enable":true,"area":800},"value":80},"opacity":{"value":0.5},"shape":{"type":"circle"},"size":{"random":true,"value":5}},"detectRetina":true}'>
        </web-particles>
    </div>



    <!-- tsParticles container -->

    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.28.0/dist/tsparticles.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.5.0/custom-elements-es5-adapter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.5.0/webcomponents-loader.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/web-particles@1.1.0/dist/web-particles.min.js"></script>
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>



















    <script>
        var typed = new Typed('#typed', {
            strings: ["You can do anything with your text here!", "Enter your text here and let Text Utils do the magic!"],
            backSpeed: 15,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 25,
            loop: false,
        });
    </script>
    <!-- Footer-->
    <footer id="footer_s">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Starinfosol</h3>
                            <p>
                                Near, Krishna Tower <br>
                                CWA 480001, INDIA<br><br>
                                <strong>Phone:</strong> +91 9074919296<br>
                                <strong>Email:</strong> info@starinfosol.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                <a href="https://wa.me/message/H72CPSV3OZMAE1" class="whatsapp"><i
                                        class="bx bxl-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Terms_conditions">Terms & Conditions</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Terms_conditions">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Project</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/admin">Admin Panel</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Serving in</h4>
                        <ul>
                            <li>
                                <c href="#">Jabalpur</c>
                            </li>
                            <li>
                                <c href="#">Chhindwara</c>
                            </li>
                            <li>
                                <c href="#">Ghazipur</c>
                            </li>
                            <li>
                                <c href="#">Bhopal</c>
                            </li>
                            <li>
                                <c href="#">Indore</c>
                            </li>
                        </ul>
                        <form action="#signupModal" method="post"> {% csrf_token %}
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">Copyright
                &copy; 2021 <strong><span>Starinfosol</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://starinfosol-live.herokuapp.com/">Shubham Verma</a>
            </div>
        </div>
    </footer>



    <!-- Google Chrome -->
    <!-- <div class="infinityChrome">
      <div></div>
      <div></div>
      <div></div>
  </div> -->

    <!-- Safari and others -->
    <!-- <div class="infinity">
      <div>
          <span></span>
      </div>
      <div>
          <span></span>
      </div>
      <div>
          <span></span>
      </div>
  </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script> -->
</body>

</html>